body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 200px;
    padding: 0;
    background-color: #0934665e;
}
header {
background-color: rgb(0, 255, 13);
color: green;
padding: 20px 0;
text-align: center; 
justify-content: center;
margin-left: 50%;
}
body h1 {
    font-size: xx-large;
    text-align: center;
}
nav ul { 
list-style: none;
padding: 0;
text-align: center;
}
nav ul li {
display: inline;
margin: 0 10px;
text-align: center;
}
nav ul li a {
color: #000;
text-decoration: underline;
text-align: center; 
}
.catalogo {
    text-align: center;
}
#about {
padding:20px;
background-color: rgba(19, 94, 160, 0.329);
text-align: ;
}
#about h2 {
margin-top: 0;
}
.gallery {
display: flex;
flex-wrap: wrap;
gap: 100px;
justify-content: center;
}
.proyect {
width: 300px;
padding: 10px;
background-color: rgba(20, 7, 95, 0.678);
border: 1px solid #149da783;
text-align: center;
}
.proyect img { 
max-width: 100%;
height: auto;
}
#contact {
padding: 20PX;
}
form {
display: flex;
flex-direction: column;
}
form label {
margin-bottom: 5px;
}
form input, form textarea {
margin-bottom: 10px;
padding: 10px;
font-size: 16px;
}
form input [type="submit"]{ 
background-color: #000;
color: aliceblue;
border: none;
cursor: pointer;
}
@media (max-width: 600px) {
  nav ul  {
display: flex;
flex-direction:column ;
align-items: center; 
}
.gallery {  
    flex-direction: column;
    align-items: center;
}
}